<ul class="nav nav-pills nav-stacked">
	<li id="toc_1" class="active"><a href="{{ "/document/" | prepend: site.baseurl }}">Document</a></ii>
	<ul class="nav nav-pills nav-stacked">
		<li id="toc_2"><a href="{{ "/document/들어가기에-앞서/" | prepend: site.baseurl }}">들어가기에 앞서</a></li>
		<li id="toc_3"><a href="{{ "/document/설치/" | prepend: site.baseurl }}">설치</a></li>
		<ul class="nav nav-pills nav-stacked hidden">
			<li id="toc_3-1"><a href="{{ "/document/설치/쉬운-설치를-이용한-설치/" | prepend: site.baseurl }}">쉬운 설치를 이용한 설치</a></li>
			<li id="toc_3-2"><a href="{{ "/document/설치/FTP를-이용한-설치/" | prepend: site.baseurl }}">FTP를 이용한 설치</a></li>
			<li id="toc_3-3"><a href="{{ "/document/설치/git을-이용한-설치/" | prepend: site.baseurl }}">git을 이용한 설치</a></li>
			<li id="toc_3-4"><a href="{{ "/document/설치/최종-설치/" | prepend: site.baseurl }}">최종 설치</a></li>
		</ul>
		<li id="toc_4"><a href="{{ "/document/설정/" | prepend: site.baseurl }}">설정</a></li>
		<ul class="nav nav-pills nav-stacked hidden">
			<li id="toc_4-1"><a href="{{ "/document/설정/Client-Token-발급-받기/" | prepend: site.baseurl }}">Client Token 발급 받기</a></li>
			<li id="toc_4-2"><a href="{{ "/document/설정/환경-설정-살펴보기" | prepend: site.baseurl }}">환경 설정 살펴보기</a></li>
			<li id="toc_4-3"><a href="{{ "/document/설정/bit.ly-API-발급-받기" | prepend: site.baseurl }}">bit.ly API 발급 받기</a></li>
		</ul>
		<li id="toc_5"><a href="{{ "/document/사용/" | prepend: site.baseurl }}">사용</a></li>
		<ul class="nav nav-pills nav-stacked hidden">
			<li id="toc_5-1"><a href="{{ "/document/사용/소셜-댓글/" | prepend: site.baseurl }}">소셜 댓글</a></li>
			<li id="toc_5-2"><a href="{{ "/document/사용/SocialXE-댓글-위젯/" | prepend: site.baseurl }}">SocialXE 댓글 위젯</a></li>
			<li id="toc_5-3"><a href="{{ "/document/사용/소셜-로그인/" | prepend: site.baseurl }}">소셜 로그인</a></li>
			<li id="toc_5-4"><a href="{{ "/document/사용/소셜-통합-기능/" | prepend: site.baseurl }}">소셜 통합 기능</a></li>
			<li id="toc_5-5"><a href="{{ "/document/사용/Textyle에서-사용/" | prepend: site.baseurl }}">Textyle에서 사용</a></li>
		</ul>
		<li id="toc_6"><a href="{{ "/document/서버/" | prepend: site.baseurl }}">서버</a></li>
		<ul class="nav nav-pills nav-stacked hidden">
			<li id="toc_6-1"><a href="{{ "/document/서버/서버-사용을-위한-환경-확인하기/" | prepend: site.baseurl }}">서버 사용을 위한 환경 확인하기</a></li>
			<li id="toc_6-2"><a href="{{ "/document/서버/트위터-애플리케이션-등록" | prepend: site.baseurl }}">트위터 애플리케이션 등록</a></li>
			<li id="toc_6-3"><a href="{{ "/document/서버/페이스북-애플리케이션-등록/" | prepend: site.baseurl }}">페이스북 애플리케이션 등록</a></li>
			<li id="toc_6-4"><a href="{{ "/document/서버/환경-설정-살펴보기/" | prepend: site.baseurl }}">환경 설정 살펴보기</a></li>
			<li id="toc_6-5"><a href="{{ "/document/서버/클라이언트-관리/" | prepend: site.baseurl }}">클라이언트 관리</a></li>
			<li id="toc_6-6"><a href="{{ "/document/서버/서비스-모듈-설정/" | prepend: site.baseurl }}">서비스 모듈 설정</a></li>
		</ul>
		<li id="toc_7"><a href="{{ "/document/기타/" | prepend: site.baseurl }}">기타</a></li>
	</ul>
</ul>
<script>
function set_pills(no) {
	$('li.active').removeClass('active');
	$('#' + no).addClass('active').next('ul').removeClass('hidden');
	$('#' + no).addClass('active').closest('ul').removeClass('hidden');
}
</script>