	<footer>
	  <div class="container clearfix">

		<p class="pull-right">
		  a template from <a href="http://coverstrap.com">Coverstrap</a>
		</p>
	  </div> <!-- /.container -->
	</footer>

	<script>
		$(document).ready(function($){
			$(".nav-link").click(function(e) {
				e.preventDefault();
				var link = $(this);
				var href = link.attr("href");
				$("html,body").animate({scrollTop: $(href).offset().top - 80}, 500);
				link.closest(".navbar").find(".navbar-toggle:not(.collapsed)").click();
			});
		});
	</script>
  </body>
</html>